/* Hide the text for small screens */
#hidden-text {
    display: none;
  }
  
  /* Make the text visible for medium and larger screens */
  @media screen and (min-width: 768px) {
    #hidden-text {
      display: block;
    }
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value (0.5) as needed */
}